#hero-slider {
    transition: background-image 1s ease-in-out;
  }
  
  .animate__fadeIn {
    animation: fadeIn 1s ease-out;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  